.App {
  max-width: 800px;
  max-height: 600px;
  margin: 35px auto;
  background: url(https://images.unsplash.com/photo-1636728682521-5bf9a2c4f533?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1228&q=80);
  font-family: arial, sans-serif;
  padding: 18px;
  border-radius: 4px;
  color: rgb(246, 246, 246);
}


.App h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.App ul {
  margin: 0;
  padding: 0;
}

.App li {
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.App .temperature {
 font-weight: bold;
  color: rgb(246, 246, 246);
  font-size: 64px;
  line-height: 54px;
  margin-left: 5px;
  font-weight: 400;
}

 footer {
  font-size: 11px;
  text-align: center;
}

.unit {
color: rgb(246, 246, 246);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}

.App canvas{
  margin: 10px auto;
  display: inline-block;
}

.search-btn{
  color: #fff;
  background: #d63384;
  border-radius: 5px;
  border: none;
  height: 35px;
}

